<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Dell/eclipse-workspace/appimtests/src/test/java/appimtests/sagesurferapp.java"><classes><class name="appimtests.sagesurferapp"><methods><include name="openSagesurfer"/></methods></class></classes></test></suite>